*.btn {
    display: block;
    text-transform: capitalize;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
.pokemon-list {
  text-transform: capitalize;
 }


.modal-title {
  text-transform: capitalize;
}

.modal-body {
  text-transform: capitalize;
}

